<section role="portal">
	<div class="container">
		<div class="metro-row">
	        <div id="logo" class="metro-tile logo"> 
	            <h2 class="brand-logo"><a href="index.html">think.<span>genEric{}</span></a></h2>
	            <h5 class="brand-logo">Web solutions that work.</h5>
	        </div>
	    </div>
	</div>
</section>	
<section class="banner dark-blue">
	<div class="container">
		<div class="hero-wrap">
			<div class="one-third">
                <h2>Web Hosting</h2>
			</div>
			<div class="two-third-last"></div>
		</div>
	</div>
</section>
<section role="general">
	<div class="container">
		<div class="row">
			<div class="content-yield two-third">
		        <div class="text-pad-top"><p>Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms. Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect. Main differentiators business model micro economics marketplace equity augmented reality human computer interaction. Board members super angel preferred stock. Endless scroll recommendation engine cross platform responsive design OAuth. </p>
		        </div>
	    	</div>
	    	<div class="content-yield one-third-last">
	    		<h2>Choose a domain</h2>
	    		<h3>Get started</h3>
	    		<form>
	    			<input type="text">
	    			<input type="submit">
	    			<input class="one-half"type="submit">
	    			<input class="one-half-last"type="submit">
	    			
	    		</form>
	    	</div>
    	</div>
    	<div class="row">
	    	<div class="content-yield one-half">
	    		<h3>Order new services</h3>
	    		<p>Visit the Order Form to browse the Products & Services we offer. Existing customers can also purchase optional extras and addons here.</p>
	    		<form class="two-third-last">
	    			<input type="submit">
	    		</form>
	    	</div>
	    	<div class="content-yield one-half-last">
	    		<h3>Manage your account</h3>
	    		<p>Already registered with us? If so, click the button below to login to our client area from where you can manage your account.</p>
	    		<form class="two-third-last">
	    			<input type="submit">
	    		</form>
	    	</div>
    	</div>
	</div>
</section>
<section class="banner dark-blue">
	<div class="hero-wrap"></div>
</section>
<section role="general">
	<div class="container products">
		<article class="product-box">
			<header>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
					<g>
					</g>
						<path d="M32 0c-13.488 0-28 4.066-28 13v38c0 8.93 14.512 13 28 13 13.486 0 28-4.070 28-13v-38c0-8.934-14.516-13-28-13zM56 51c0 4.968-10.746 9-24 9-13.256 0-24-4.032-24-9v-7.472c4.132 4.258 14.1 6.472 24 6.472s19.868-2.214 24-6.472v7.472zM56 39h-0.008c0 0.020 0.008 0.042 0.008 0.062 0 4.938-10.746 8.938-24 8.938-13.254 0-24-4-24-8.938 0-0.020 0.008-0.042 0.008-0.062h-0.008v-7.472c4.132 4.258 14.1 6.472 24 6.472s19.868-2.214 24-6.472v7.472zM56 27h-0.008c0 0.020 0.008 0.042 0.008 0.062 0 4.938-10.746 8.938-24 8.938-13.254 0-24-4-24-8.938 0-0.020 0.008-0.042 0.008-0.062h-0.008v-6.872c5.242 3.994 14.85 5.872 24 5.872s18.758-1.878 24-5.872v6.872zM32 22c-13.256 0-24-4.032-24-9 0-4.972 10.744-9 24-9 13.254 0 24 4.028 24 9 0 4.968-10.746 9-24 9zM48 52c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2zM48 40c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2zM48 28c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2z" fill="#2b343b"></path>
					</svg>
				<h3>Personal</h3>
				<input type="submit" class="btn btn-orange" value="Sign Up!"/>
			</header>
			<div class="product-details">
				<ul>
					<li>$9<span>.95</span></li>
					<li>10GB Disk Space</li>
					<li>100GB Monthly Bandwidth</li>
					<li>20 Email Accounts</li>
					<li>Unlimited Subdomains</li>
				</ul>
			</div>
		</article>
		<article class="product-box">
			<header>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
					<g>
					</g>
						<path d="M32 0c-13.488 0-28 4.066-28 13v38c0 8.93 14.512 13 28 13 13.486 0 28-4.070 28-13v-38c0-8.934-14.516-13-28-13zM56 51c0 4.968-10.746 9-24 9-13.256 0-24-4.032-24-9v-7.472c4.132 4.258 14.1 6.472 24 6.472s19.868-2.214 24-6.472v7.472zM56 39h-0.008c0 0.020 0.008 0.042 0.008 0.062 0 4.938-10.746 8.938-24 8.938-13.254 0-24-4-24-8.938 0-0.020 0.008-0.042 0.008-0.062h-0.008v-7.472c4.132 4.258 14.1 6.472 24 6.472s19.868-2.214 24-6.472v7.472zM56 27h-0.008c0 0.020 0.008 0.042 0.008 0.062 0 4.938-10.746 8.938-24 8.938-13.254 0-24-4-24-8.938 0-0.020 0.008-0.042 0.008-0.062h-0.008v-6.872c5.242 3.994 14.85 5.872 24 5.872s18.758-1.878 24-5.872v6.872zM32 22c-13.256 0-24-4.032-24-9 0-4.972 10.744-9 24-9 13.254 0 24 4.028 24 9 0 4.968-10.746 9-24 9zM48 52c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2zM48 40c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2zM48 28c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2z" fill="#2b343b"></path>
					</svg>
				<h3>Personal</h3>
				<input type="submit" class="btn btn-orange" value="Sign Up!"/>
			</header>
			<div class="product-details">
				<ul>
					<li>$9<span>.95</span></li>
					<li>10GB Disk Space</li>
					<li>100GB Monthly Bandwidth</li>
					<li>20 Email Accounts</li>
					<li>Unlimited Subdomains</li>
				</ul>
			</div>
		</article>
		<article class="product-box">
			<header>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
					<g>
					</g>
						<path d="M32 0c-13.488 0-28 4.066-28 13v38c0 8.93 14.512 13 28 13 13.486 0 28-4.070 28-13v-38c0-8.934-14.516-13-28-13zM56 51c0 4.968-10.746 9-24 9-13.256 0-24-4.032-24-9v-7.472c4.132 4.258 14.1 6.472 24 6.472s19.868-2.214 24-6.472v7.472zM56 39h-0.008c0 0.020 0.008 0.042 0.008 0.062 0 4.938-10.746 8.938-24 8.938-13.254 0-24-4-24-8.938 0-0.020 0.008-0.042 0.008-0.062h-0.008v-7.472c4.132 4.258 14.1 6.472 24 6.472s19.868-2.214 24-6.472v7.472zM56 27h-0.008c0 0.020 0.008 0.042 0.008 0.062 0 4.938-10.746 8.938-24 8.938-13.254 0-24-4-24-8.938 0-0.020 0.008-0.042 0.008-0.062h-0.008v-6.872c5.242 3.994 14.85 5.872 24 5.872s18.758-1.878 24-5.872v6.872zM32 22c-13.256 0-24-4.032-24-9 0-4.972 10.744-9 24-9 13.254 0 24 4.028 24 9 0 4.968-10.746 9-24 9zM48 52c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2zM48 40c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2zM48 28c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2-1.105 0-2-0.895-2-2z" fill="#2b343b"></path>
					</svg>
				<h3>Personal</h3>
				<input type="submit" class="btn btn-orange" value="Sign Up!"/>
			</header>
			<div class="product-details">
				<ul>
					<li>$9<span>.95</span></li>
					<li>10GB Disk Space</li>
					<li>100GB Monthly Bandwidth</li>
					<li>20 Email Accounts</li>
					<li>Unlimited Subdomains</li>
				</ul>
			</div>
		</article>
		<div class="row">
		<div class="content-yield two-third">
			<div class="text-pad-top">
				<h2>Headline</h2>
				<p>Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms. Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect. Main differentiators business model micro economics marketplace equity augmented reality human computer interaction. </p>
			</div>
		</div>
		<div class="showcase-img one-third-last">
                <img class="mobile-hide" src="http://www.thinkgeneric.com/img/tablet-map-a40ae76f.png">
        </div>
        </div>
        <div clas="row">
            <div class="call-to-action">
                <div class="yield">
                    <h3 class="call">What are you waiting for?</h3>
                    <p>Sign up today and get a guaranteed <span class="blue">10%</span> off on our latest hosting options!</p>
                </div>
                <div class="action">
                    <div class="one-half">
                        <p><%= link_to 'More Products >>', 'portfolio.html' %> or</p>
                    </div>
                    <div class="one-half-last">
                        <%= link_to 'Sign Up', 'contact.html', :class=>"btn-anchor btn-orange" %>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
        <div class="info-block-half">
            <div class="service-img text-pad-top">
                <img alt="Web Design &amp; Development" src="../img/monitor-4aa39f90.png">
            </div>
            <div class="service-text">
                <h3>Web Design &amp; Development</h3>
                <p>Look professional online.  Every site we build is hand coded, artfully crafted and unqiue. We labor over every line of code, every pixel to bring you a superior product.</p>
            </div>
        </div>
    
        <div class="info-block-half">
            <div class="service-img text-pad-top">
                <img alt="Web Hosting" src="../img/browser-6895bd31.png">
            </div>
            <div class="service-text">
                <h3>Web Hosting</h3>
                <p>Feel safe with your data.  With data centers across the country we offer secure, reliable and fast web hosting solutions.</p>
            </div>
        </div>
    	</div>
    	<div class="row">
        <div class="info-block-half">
            <div class="service-img text-pad-top">
                <img alt="Online Marketing and SEO" src="../img/chat-a8fae317.png">
            </div>
            <div class="service-text">
                <h3>Online Marketing and SEO</h3>
                <p>Capture you audience.  We build websites that help turn viewers into customers.  We work with our clients to reach more potential customers and eliminate competition.</p>
            </div>
        </div>
    
        <div class="info-block-half">
            <div class="service-img text-pad-top">
                <img alt="Mobile Development" src="../img/mobile-2ab4c97b.png">
            </div>
            <div class="service-text">
                <h3>Mobile Development</h3>
                <p>Be accessiable on the go.  Every website we develop is built mobile first, however sometimes that is not enough. We offer custom mobile application solutions for any customer.</p>
            </div>
        </div>
        </div>
	</div>
</section>
