/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables set for the GenEric framework are defined
 * here.
 */

// Setting up the Magic Grid
$total-columns: 16; // 10 columns
$column-width: 3.5em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid container


/**
 * Base stuff
 */
$base-font-size:   18px!default;
$base-font-leading:	1;
$base-line-height:  30px!default;

$rhythm-unit: "rem";

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

/**
 * Base font-family.
 */
$base-font-family:  'Lato', sans-serif;
$base-font-weight: 400;
     
/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         	99px!default;
$giga-size-leading:		5.5;

$mega-size:         	74px!default;
$mega-size-leading:		4.1;

$kilo-size:         	56px!default;
$kilo-size-leading:		3.1;

$h1-size:           	43px!default; // .alpha
$h1-size-leading:		1.5;

$h2-size:           	32px!default; // .beta
$h2-size-leading:		1.25;

$h3-size:           	24px!default; // .gamma
$h3-size-leading:		1.25;

$h4-size:           	18px!default; // .delta
$h4-size-leading:		1;

$h5-size:           	14px!default; // .epsilon
$h5-size-leading:		0.75;

$h6-size:           	10px!default; // .zeta
$h6-size-leading:		0.75;


$milli-size:        	14px!default;
$milli-size-leading:	0.75!default;

$micro-size:        	10px!default;
$micro-size-leading:	0.75;

/*Breakpoints are defined here */

$smallSized: 30em; // roughly 480px
$midSized: 43em; // roughly 680px
$largeSized: 60em; //roughly 960px
$largerSized: 75em;

$metro-midSized: 726px;
$metro-standardSized: 945px;
$metro-largeSized: 1190px;



/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true!default;


/**
 * Brand stuff
 */
$brand-color:       lighten(#e97b4d, 0)!default;
$brand-face:        'Fjalla One', sans-serif;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        0.5em!default;



//pattern colors
$base-ui-color: lighten(#336D7F, 8);//#4375B6; // light blue
$background-color: #F2F2F2; //off white
$font-color: #F2F2F2; //off white
$color1: #DE9C5B; //light orange
$color2: #FF8B48;
$black: #2b343b;
$black-opacity: rgba(43, 52, 59, 0.45);
$white-opacity: rgba(242,242,242, 0.25);